

@font-face {
  font-family: tipofuentejavier;
  src: url(tiposfuente/fuentepreguntauno.ttf);
}
h2 {
  font-family: tipofuentejavier;
}

body {


  background-image: url("images/fondopregunta1.jpg");

    background-size: cover; 

    background-repeat: no-repeat;

   background-attachment: fixed;
p{
  text-align: center;
  font-size: 140%;
  color: white;
}
  
}
img {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}